// SUPERFEED bootstrap variable overrides
@import
'~bootstrap/scss/functions',
'~bootstrap/scss/variables';
//
// TYPE
//
$font-family-sans-serif: 'Roboto Condensed', sans-serif;
$font-family-base: $font-family-sans-serif;
$font-size-base: 1.0rem;
$font-weight-light: 200;
$headings-font-weight: $font-weight-light;
//
// COLORS
//
$primary:               #8460f4;
$primary-super-light:   #ae9ef7;
$primary-light:	        #947cff;
$primary-dark:          #5F3CBF;
$secondary:             #ffaf00;
$black:									#000;
$gray-800:              #696969;
$gray-700:              #777777;
$gray-600:              #8C8C8C;
$gray-400:              #A6A6A6;
$gray-200:              #d8d8d8;
$gray-100:              #e9e9e9;

$link-color:            $primary;
$link-hover-color:      $primary-dark;
$component-active-bg:   $primary;
$body-bg:               white;
$body-color:						$black;

//
// FORMS
//
$input-color: $black;
$input-border-color: $black;
$input-focus-border-color: $black;
$border-width: 1px;

//
// SIZES
//
$border-radius: 6px;
$nav-link-padding-x: 1.2rem;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1024px
);
$slider-row-height: 50px;

//
// NAVBAR
//
$navbar-padding-y: $spacer * 2;
$navbar-toggler-font-size: $font-size-sm;
$navbar-light-color: $gray-600;
$navbar-light-hover-color: $primary;
$navbar-light-active-color: $primary;
$navbar-light-toggler-border-color: transparent;
$navbar-toggler-padding-x: .25rem;

//
// MISC
//
$hard-box-shadow: -6px 6px rgba(0,0,0,0.2);
$hard-box-shadow-active: -2px 2px rgba(0,0,0,0.2);


$location1: #00caff;
$location1-light: #a8eeff;
$location2: #ff0055;
$location2-light: #ffb1cb;
