// font - Roboto
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700');

// customizing bootstrap
@import './variables';

// bootstrap
@import
  '~bootstrap/scss/mixins',
  '~bootstrap/scss/utilities',
	'~bootstrap/scss/type';

// custom reboot
@import './reboot';

// angular material
@import './custom-material-theme';

//
// GLOBAL STYLES
//

body {
  font-family: $font-family-sans-serif;
  height: 100vh;
  overflow: hidden;
}

hr {
  border: 3px rgba(132, 96, 244, .4) dotted;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  height: 3px;
  margin: 10px 0;
}

ul, ol {
  padding-left: 20px;
  &.item-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      a {
        color: $gray-800;
        padding: 5px 0;
        mat-icon {
          height: 20px;
        }
        img {
          margin-right: 5px;
        }
      }
      button.remove-link {
        display: none;
        width: 20px;
        padding: 0;
        border: none;
        background: transparent;
        cursor: pointer;
      }
      &:hover {
        button.remove-link {
          display: inline-block;
        }
      }
    }

  }
}

.faux-link {
	@extend a;
	cursor: pointer;
}
.faux-disabled {
  cursor: default;
  color: gray;
  &:hover {
    text-decoration: none;
    color: gray;
  }
}

.light-purple {
  color: $primary-super-light;
}

@media (max-width: map-get($grid-breakpoints, 'sm')) { // 576px and less

	body {
		font-size: 1rem;
	}
}

//
// COLORS
//

.svg-fill-white svg {
	fill: white;
}
.svg-fill-gray svg {
	fill: gray;
}

//
// FORMS
//
.form-control {
	font-family: $font-family-sans-serif;
}

.error {
	color: $red;
	font-weight: 700;
}

//
// MISC
//
.mat-dialog-container {
	background: white;
	font-size: .9em;
	.close-button {
		border: none;
		background-color: white;
		-webkit-appearance: none;
		height: 30px;
		overflow: hidden;
		font-size: 2em;
		line-height: 10px;
		cursor: pointer;
		color: $primary;
	}
}

.mat-option {
  &:hover,
  &.mat-active {
    background: $gray-100 !important;
  }
}
