@import '../../../sass/variables';

@import
  '~bootstrap/scss/functions',
  '~bootstrap/scss/variables',
  '~bootstrap/scss/mixins';

.sponsor-text {
  color: gray;
  font-size: .8em;
}
a {
  display: block;
  img {
    height: auto;
    border: 0;
    &.superfeed {
      width: 250px;
    }
  }
}

@media (max-width: map-get($grid-breakpoints, 'sm')) { // 576px and less

  a img.superfeed {
    width: 200px;
  }
}
