@import '../../../sass/variables';

@import
  '~bootstrap/scss/functions',
  '~bootstrap/scss/variables',
  '~bootstrap/scss/mixins';

.sponsor-text {
  color: $gray-800;
  margin: 4px 0 0 0;
  font-size: 16px;
}
a {
  display: block;
  padding: 15px 10px 10px 10px;
  &:hover {
    text-decoration: none;
  }
  img {
    height: auto;
    border: 0;
    &.superfeed {
      width: 250px;
    }
  }
}

@media (max-width: map-get($grid-breakpoints, 'sm')) { // 576px and less

  a img.superfeed {
    width: 200px;
  }
}
