@import '../../../sass/variables';

@import
  '~bootstrap/scss/functions',
  '~bootstrap/scss/variables',
  '~bootstrap/scss/mixins';

.sponsor-text {
  color: $gray-900;
  margin: 0 0 4px 0;
  font-size: 16px;
}
a {
  display: block;
  padding: 15px 10px 5px 10px;
  &:hover {
    text-decoration: none;
  }
  img {
    height: auto;
    border: 0;
    &.logo {
      width: 250px;
    }
  }
}
.close {
  position: absolute;
  top: 5px;
  width: 20px;
  right: 3px;
  z-index: 1;
  .mat-icon {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: map-get($grid-breakpoints, 'sm')) { // 576px and less

  a img.logo {
    width: 200px;
  }
}
