<div class="floating-box top-cities" [hidden]="hideTopCities">
  <div class="d-flex align-items-center">
    <h4 class="mb-0">Top {{ numberOfCities }} Cities</h4>
    <button mat-icon-button (click)="hideTopCities = true" class="ml-auto align-self-start">
      <mat-icon aria-label="close" svgIcon="close" class="svg-fill-gray"></mat-icon>
    </button>
  </div>
  <hr>
  <pm-location-list [locations$]="cities$" [limit]="numberOfCities"></pm-location-list>
  <p class="mb-0 text-right"><a class="faux-link" (click)="toggleTopCities()">{{ moreCitiesText }}</a></p>
</div>
