@import '../../../../sass/variables';

@import
  '~bootstrap/scss/functions',
  '~bootstrap/scss/variables',
	'~bootstrap/scss/mixins';

mat-option {
	img {
		width: 30px;
		height: 30px;
    vertical-align: middle;
    flex: initial;
	}
	.info {
    height: 30px;
    padding-left: 5px;
    flex: 1;
    overflow: hidden;

		p {
			margin: 0;
			line-height: 1.1em;
      text-overflow: ellipsis;
      overflow: hidden;
		}
		small {
			display: block;
			color: $gray-400;
			line-height: 1.1em;
      text-overflow: ellipsis;
      overflow: hidden;
		}
	}
}
