<div class="sidebar-contain">
  <div class="sidebar d-flex flex-column">
    <div class="legend">
      <h1>PODMAP</h1>
      <p>
        <em>Mapping the world&rsquo;s podcasts.</em><br>
        <em *ngIf="counts$ | async as counts" class="light-purple">{{ counts.podcastCount }} podcasts in {{ this.mapService.markers.length }} locations</em>
      </p>
    </div>
    <router-outlet></router-outlet>
    <pm-ad *ngIf="showAd" class="mt-auto" (close)="showAd = false"></pm-ad>
    <pm-footer [ngClass]="{ 'mt-auto': !showAd }"></pm-footer>
  </div>
</div>
<agm-map id="podmap" [latitude]="geoPoint.latitude" [longitude]="geoPoint.longitude" [zoom]="zoom" [styles]="mapStyle" [streetViewControl]="false" [zoomControl]="false"
  [scaleControl]="true">
  <agm-marker *ngFor="let marker of mapService.markers" [latitude]="marker.lat" [longitude]="marker.lng" [iconUrl]="icon" (markerClick)="markerClick(marker)"></agm-marker>
</agm-map>
