<div class="sidebar-contain">
  <div class="sidebar d-flex flex-column">
    <div class="legend">
      <h1>PODMAP</h1>
      <p>
        <em>Mapping the world&rsquo;s podcasts</em>
      </p>
    </div>
    <router-outlet></router-outlet>
    <pm-ad class="mt-auto"></pm-ad>
    <pm-footer></pm-footer>
  </div>
</div>
<agm-map id="podmap" [latitude]="geoPoint.latitude" [longitude]="geoPoint.longitude" [zoom]="zoom" [styles]="mapStyle" [streetViewControl]="false" [zoomControl]="false"
  [scaleControl]="true"></agm-map>
