<form>
	<mat-form-field class="w-100">
		<input matInput placeholder="Enter a podcast" name="podcast" aria-label="Enter a podcast" [matAutocomplete]="autopodcast" [formControl]="podcastCtrl">
		<mat-icon svgIcon="search" matSuffix class="svg-fill-gray"></mat-icon>
		<mat-autocomplete #autopodcast="matAutocomplete" id="podcast-autocomplete" (optionSelected)="selectedPod($event)" [displayWith]="displayFn">
			<mat-option *ngFor="let pod of podcasts$ | async" [value]="pod">
				<img *ngIf="pod.artworkUrl30" aria-hidden src="{{ pod.artworkUrl30 }}" />
				<div class="info">
					<p>{{ pod.collectionName }}</p>
					<small>{{ pod.artistName }}</small>
				</div>
			</mat-option>
		</mat-autocomplete>
	</mat-form-field>
</form>
<div *ngIf="podcast" class="podcast-subject d-flex align-items-center">
	<img aria-hidden src="{{ podcast.artworkUrl100 }}" />
	<div>
		<p>{{ podcast.artistName }}</p>
		<p class="location"><mat-icon aria-label="location" svgIcon="location" class="svg-fill-gray"></mat-icon> Unknown</p>
	</div>
	<button mat-icon-button (click)="clearPod()" class="ml-auto align-self-start">
		<mat-icon aria-label="close" svgIcon="close" class="svg-fill-gray"></mat-icon>
	</button>
</div>
