<div class="floating-box">
  <a class="float-right" href (click)="signOut()">Logout</a>
  <span class="float-right mx-2">•</span>
  <a class="float-right" href routerLink="/search">« Back to search</a>
  <h5>Admin</h5>
  <hr>
  <!-- awaiting moderation -->
  <ul class="moderation-list">
    <li *ngFor="let sugg of suggestions | async">
      <div class="top-row d-flex align-items-center">
        <img aria-hidden src="{{ sugg.podcast.artworkUrl60 }}" />
        <span class="title">{{ sugg.podcast.collectionName }}</span>
        <div class="buttons ml-auto">
          <button type="button" mat-mini-fab (click)="approve(sugg)" color="primary">
            <mat-icon class="svg-fill-white" aria-label="approve" svgIcon="done"></mat-icon>
          </button>
          <button type="button" mat-mini-fab (click)="reject(sugg)" color="warn">
            <mat-icon class="svg-fill-white" aria-label="reject" svgIcon="close"></mat-icon>
          </button>
        </div>
      </div>
      <pm-location-list [locations]="sugg.podcast.locations"></pm-location-list>
    </li>
  </ul>
</div>
