<div class="floating-box legend-width">
    <div class="floating-box-inner">
      <a class="float-right" href routerLink="/">« Back to search</a>
      <h5>Add a podcast</h5>
      <hr>
      <p>We&rsquo;d love to have more podcasts on Podmap! Here&rsquo;s how to add one. Please only add it if you know for sure where it&rsquo;s produced.</p>
      <ol>
        <li><a href routerLink="/">Search it</a></li>
        <li>Enter the city where it&rsquo;s produced. Multiple cities are allowed.</li>
        <li>Wait for it to be moderated.</li>
        <li>Once approved, it will appear on the map!</li>
      </ol>
      <p>The granularity of location is confined to cities, so where you may want to enter "Brooklyn, NY" as a location, you&rsquo;ll have to enter New York. Though this is slightly less accurate, it allows for better aggregation.</p>
      <p>Location suggestions are usually moderated once per week on Fridays.</p>
    </div>
  </div>
