<div class="floating-box footer lt-gray-bkgd">
  <div class="d-flex justify-content-center align-items-center">
    <span class="icon"><mat-icon svgIcon="podmap"></mat-icon></span>
    <span><a href routerLink="/search" class="home-link" routerLinkActive="active">PODMAP</a></span>
    <span> • </span>
    <span><a href routerLink="/about" routerLinkActive="active">About</a></span>
    <span> • </span>
    <span><a href routerLink="/admin" routerLinkActive="active">Admin</a></span>
  </div>
</div>
