@import '../../sass/variables';

@import
  '~bootstrap/scss/functions',
  '~bootstrap/scss/variables',
	'~bootstrap/scss/mixins';


p {
	font-size: 0.9em;
}

.legend-width {
  width: 330px;
	max-width: 400px;
}
.floating-box {
	margin-top: 20px;
	background: white;
  box-shadow: $hard-box-shadow;
  &.lt-gray-bkgd {
    background: $gray-100;
  }
	.floating-box-inner {
		padding: $spacer $spacer 1px $spacer;
	}
}

.podmap-sidebar {
	position: absolute;
	z-index: 1;
	top: 0;
  left: 0;
  padding: 20px;
  height: 100vh;
}
agm-map {
	height: 100vh;
	width: 100vw;
}
.legend {
	text-align: center;
	padding: $spacer;
  background: $primary url('../../assets/img/superfeed-wallpaper.svg') center fixed;
	background-size: 650px, 650px;
	box-shadow: $hard-box-shadow;
	animation: animateWallpaper 30s linear infinite;
	h1 {
		color: white;
		font-weight: 200;
		letter-spacing: 15px;
		text-shadow: $hard-box-shadow;
		margin: .5rem;
	}
	p {
		color: rgba(255,255,255,.8);
	}
}

hr {
	border-bottom: 2px $primary solid;
}

@keyframes animateWallpaper {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 100% 100%;
	}
}


//
// MOBILE
//

@media (max-width: map-get($grid-breakpoints, 'sm')) { // 576px and less
  .podmap-sidebar {
    width: 100%;
    padding: 0;
  }
  .legend-width {
    width: 100%;
    max-width: 100%;
  }
  .legend,
  .floating-box {
    box-shadow: 0 6px rgba(0,0,0,0.2);
  }
  .floating-box {
    .floating-box-inner {
      padding: 5px $spacer 1px $spacer;
    }
  }
  .legend {
    padding: 8px $spacer;
    h1 {
      margin-top: 0;
    }
  }

}
