@import '../../../../sass/variables';

@import
  '~bootstrap/scss/functions',
  '~bootstrap/scss/variables',
	'~bootstrap/scss/mixins';

.podcast-subject {
	img {
		height: 100px;
		width: auto;
		margin-right: $spacer;
	}
	p {
		margin: 0;
		&.subhead {
      font-size: .8em;
			color: $gray-600;
		}
	}
}
