<div *ngIf="podcast$ | async as podcast; else showNotFound" class="floating-box">
  <div class="podcast-subject d-flex align-items-center">
    <img aria-hidden src="{{ podcast.artworkUrl100 }}" />
    <div>
      <p>{{ podcast.collectionName }}</p>
      <p class="subhead">{{ podcast.artistName }}</p>
      <p class="subhead"><a [href]="podcast.itunesSub">View on iTunes</a></p>
    </div>
    <button mat-icon-button routerLink="/search" class="ml-auto align-self-start">
      <mat-icon aria-label="close" svgIcon="close" class="svg-fill-gray"></mat-icon>
    </button>
  </div>
  <hr>
  <h4>Location(s):</h4>
  <div *ngIf="podcast.locations && podcast.locations.length > 0; else showSuggest">
    <pm-location-list [locations]="podcast.locations"></pm-location-list>
  </div>
  <ng-template #showSuggest>
    <pm-location-list [locations]="podLocations"></pm-location-list>
    <p *ngIf="podLocations.length == 0">No locations found. Put this podcast on the map!</p>
    <div *ngIf="!submitted">
      <pm-place-search #addLocation (selected)="setPlace($event, true)" [placeholder]="addLocationText()" [place]="podPlace"></pm-place-search>
      <div class="d-flex mb-3">
        <div class="mr-auto">
          <mat-spinner *ngIf="loading" diameter="35"></mat-spinner>
        </div>
        <button (click)="submitLocationSuggestion(podcast)" [disabled]="podLocations.length == 0" mat-raised-button color="accent">Submit</button>
      </div>
    </div>
    <div *ngIf="submitted">
      <h3>Thanks! Got it.</h3>
      <p>Your submission will be reviewed before appearing on the map.</p>
      <div class="d-flex">
        <button class="mb-3 ml-auto" routerLink="/search" mat-raised-button color="primary">OK</button>
      </div>
    </div>
  </ng-template>
</div>
<ng-template #showNotFound>
  <div class="floating-box">
    <h4>Podcast not found</h4>
    <p class="mb-0">This podcast might not be added yet. Please try a search, then you can suggest a location. If you've already suggested a location, it's probably awaiting moderation.</p>
  </div>
</ng-template>
