<div *ngIf="podcast$ | async as podcast; else showNotFound" class="floating-box">
  <div class="podcast-subject d-flex align-items-center">
    <img aria-hidden src="{{ podcast.artworkUrl100 }}" />
    <div>
      <p>{{ podcast.collectionName }}</p>
      <p class="subhead">{{ podcast.artistName }}</p>
      <p class="subhead"><a [href]="podcast.itunesSub">View on iTunes</a></p>
    </div>
    <button mat-icon-button routerLink="/search" class="ml-auto align-self-start">
      <mat-icon aria-label="close" svgIcon="close" class="svg-fill-gray"></mat-icon>
    </button>
  </div>
  <hr>
  <h4>Location(s):</h4>
  <div *ngIf="podcast.locations.length > 0; else showSuggest">
    <ol>
      <li *ngFor="let place of podcast.locations">{{ place.description }}</li>
    </ol>
  </div>
  <ng-template #showSuggest>
    <p>No location found. Put this podcast on the map!</p>
    <div *ngIf="!submitted; else showSubmitted">
      <pm-place-search #addLocation (selected)="setPlace($event, true)" [placeholder]="addLocationText()" [place]="podPlace"></pm-place-search>
      <div class="d-flex mb-3">
        <div class="mr-auto">
          <mat-spinner *ngIf="loading" diameter="35"></mat-spinner>
        </div>
        <button (click)="submitLocationSuggestion(podcast)" [disabled]="podPlaces.length == 0" mat-raised-button color="accent">Submit</button>
      </div>
    </div>
    <ng-template #showSubmitted>
      <h3>Thanks! Got it.</h3>
      <p>Your submission will be reviewed before appearing on the map.</p>
      <div class="d-flex">
        <button class="mb-3 ml-auto" routerLink="/search" mat-raised-button color="primary">OK</button>
      </div>
    </ng-template>
  </ng-template>
</div>
<ng-template #showNotFound>
  <div class="floating-box">
    <h4>Podcast not found</h4>
    <p class="mb-0">Please try another search.</p>
  </div>
</ng-template>
