
@import
'~bootstrap/scss/functions',
'~bootstrap/scss/variables';

@import '../../../sass/variables';

.footer-inner {
  padding: 10px $spacer 6px;
  color: gray;
  font-size: .8em;
}
span {
  padding: 0 5px;
  &.icon {
    height: 26px;
  }
}
.active {
  color: gray;
}
