$admin-margin: 10px;

ul.moderation-list {
  list-style-type: none;
  padding: 0;
  button {
    margin-left: $admin-margin;
  }
  li {
    border-bottom: 1px #333 solid;
    margin-bottom: 15px;
    .top-row {
      margin-bottom: $admin-margin;
      img {
        margin-right: $admin-margin;
      }
      .title {
        font-size: 1.1em;
      }
      .buttons {
        button {
          display: block;
          &:first-child {
            margin-bottom: $admin-margin;
          }
        }
      }
    }
  }
}
