<div *ngIf="location$ | async as location; else showLoading" class="floating-box">
  <h5>{{ location.description }}</h5>
  <hr>
  <pm-podcast-list [podcasts$]="podcasts$"></pm-podcast-list>
</div>
<ng-template #showLoading>
  <div class="floating-box">
    <div *ngIf="loading; else showNotFound">
      <mat-spinner class="mx-auto" *ngIf="loading" diameter="35"></mat-spinner>
    </div>
    <ng-template #showNotFound>
      <h4>No podcasts yet</h4>
      <p>This location doesn't appear to have any podcasts added to it yet. You can add podcasts by searching for them.</p>
      <button class="ml-auto" routerLink="/search" mat-raised-button color="primary">OK</button>
    </ng-template>
  </div>
</ng-template>
