<div class="floating-box legend-width">
  <div class="floating-box-inner">
    <a class="float-right" [href] routerLink="/search">« Back to search</a>
    <h5>About</h5>
    <hr>
    <p>The goals of Podmap are:</p>
    <ul>
      <li>to map the world&rsquo;s podcasts</li>
      <li>to help you discover where your favorite podcasts are created</li>
      <li>to help you discover podcasts produced near you</li>
    </ul>
    <p>Add the location of your podcast or help us out by submitting a location for any podcast that doesn&rsquo;t have one yet. Just start with a podcast search. Location submissions are reviewed by admins and must be approved before they appear on the map.</p>
    <p>Also, Podmap is an <strong>open-source</strong> Angular app. Visit the <a href="https://github.com/inorganik/podmap">GitHub repo</a>.</p>
  </div>
</div>
