<div class="floating-box legend-width">
  <div class="floating-box-inner">
    <a class="float-right" href routerLink="/">« Back to search</a>
    <h5>About</h5>
    <hr>
    <p>Podmap is an <a href="https://github.com/inorganik/podmap">open-source</a> app whose goals are:</p>
    <ul>
      <li>to map the world&rsquo;s podcasts</li>
      <li>to help you discover podcasts produced near you</li>
      <li>to help you discover where your favorite podcasts are created</li>
    </ul>
    <p>Here's how to <a href routerLink="/add-a-podcast">add a podcast</a>.</p>
  </div>
</div>
