  <div class="floating-box search">
    <mat-tab-group mat-stretch-tabs>
      <mat-tab label="Search podcasts">
        <div class="search-inner">
          <pm-podcast-search (selected)="setPodcast($event)"></pm-podcast-search>
        </div>
      </mat-tab>
      <mat-tab label="Search places">
        <div class="search-inner">
          <pm-place-search (selected)="setPlace($event, false)"></pm-place-search>
          <!-- <p><a class="faux-link" [ngClass]="{'faux-disabled': fetchingLocation}" (click)="goToUserLocation()">{{ searchLocation }}</a></p> -->
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <router-outlet></router-outlet>
