<ul>
  <li *ngFor="let location of locations$ | async">
    <a href [routerLink]="['/search/location', location.placeId]" class="d-flex align-items-center">
      <mat-icon svgIcon="location" class="svg-fill-gray"></mat-icon>
      <span>{{ location.description }}</span>
      <span *ngIf="location.podCount" class="ml-auto">{{ location.podCount }}</span>
    </a>
  </li>
  <li *ngFor="let location of locations">
    <a href [routerLink]="['/search/location', location.placeId]" class="d-flex align-items-center">
      <mat-icon svgIcon="location" class="svg-fill-gray"></mat-icon>
      <span>{{ location.description }}</span>
    </a>
  </li>
</ul>
